.vscode/
.vs/
DowntimeReporter.Api/DowntimeReporter.Api/obj/
DowntimeReporter.Model/obj/
DowntimeReporter.Service/obj/
DowntimeReporter.Service/bin/

DowntimeReporter.Api/DowntimeReporter.Api/bin/
DowntimeReporter.Model/Migrations/
DowntimeReporter.Model/bin/


